<div class="container">
    <div class="row">
        <div class="col-md-8 offset-sm-2">
            <h1 class="text-center">Nuevo Reporte</h1>
            <%= render 'form', denuncium: @denuncium %>    
            <%= link_to 'Volver', denuncia_path, class:'btn btn-info' %>
        
        </div>
    </div>
</div>
        