<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Reportar rutas</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">El problema</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Características</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#app">Aplicación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Recurrencia de rutas de transporte</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="<%= new_denuncium_path %>">Reportar aquí</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">AYÚDANOS A MEJORAR LA RECURRENCIA DE TUS RUTAS...</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4 parrafo">En el modelo de transporte público actual, la comunidad de Usaquén se ve afectada por los tiempos que debe esperar las diferentes rutas de transporte, lo anterior por falta de concurrencia de las mismas.
            Te invitamos a ser parte de la solución indicándonos los retrasos que se están presentando en tu ruta.</p>
            <a class="btn btn-light btn-xl js-scroll-trigger disabled" href="../../../public/Recurrencia de  rutas de transporte .pdf" target="_blank">Leer más</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Características</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-hand-point-down fa-4x text-primary mb-3 sr-icon-1"></i>
              <i class=""></i>
              <h3 class="mb-3">Problematica</h3>
              <p class="text-muted mb-0">No se cuenta con un canal que permita a los usarios informar los retrasos en las rutas</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
              <h3 class="mb-3">Expectativa</h3>
              <p class="text-muted mb-0">A través de esta plataforma poder informar a los actores claves acerca de los retrasos de las rutas, a fin de llevar una trazabilidad del servicio.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-lightbulb text-primary mb-3 sr-icon-3"></i>
              <h3 class="mb-3">solución</h3>
              <p class="text-muted mb-0">Desarrollo de una plataforma tecnológica para efectuar una queja o reclamo ante el retraso de las rutas en la localidad de usaquén.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
              <h3 class="mb-3">Alcance</h3>
              <p class="text-muted mb-0">Esta aplicación le permitirá al usuario tener un canal de denuncia y a las empresas obtener informes en tiempo real de las rutas que le están generando mayor afectación a los usuarios.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white" id="app">
      <div class="container text-center">
        <h2 class="mb-4">Proximamente en tu movil <i class="fas fa-mobile-alt"></i></h2>
        <a class="btn btn-light btn-xl sr-button disabled" href="#">Download Now!</a>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Contáctanos</h2>
            <hr class="my-4">
            <p class="mb-5">¡Envíanos un correo electrónico y nos pondremos en contacto con lo antes posible! </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
            <p>123-456-6789</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>